.alert-danger p {
	margin-bottom: 0.2rem;
}

.calc-loan-info {
	background-color: #d2f4e8;
	color: #0f6848;
}

@media print {

	body.modal-open {
		visibility: hidden;
	}

	body.modal-open .modal .modal-header,
	body.modal-open .modal .modal-body {
		visibility: visible;
	}
}

.sidebar-dark .nav-item .nav-link,
.sidebar-dark .nav-item .nav-link i {
	font-size: 1.5rem;
	text-transform: uppercase;
}

.sidebar-dark .nav-item .nav-link.active,
.sidebar-dark .nav-item .nav-link.active i {
	color: #f6c23e;
}
